@import "tailwindcss";

@theme inline {
  --font-base: 'Montserrat', 'sans-serif';
  --font-title: 'Unbounded', 'sans-serif';
  --color-dark: #191919;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-dark);
}

.wrapper{
  margin: 0 40px;
}
